---
title: Anna & Hao's Wedding
---

<div class="welcome">
  <nav class="menu">
    <div class="logo">
      <%= image_tag "anna_and_hao_logo.svg" %>
    </div>
    <ul>
      <li>RSVP</li>
      <li>Our Story</li>
      <li>Registry</li>
      <li>Travel</li>
    </ul>
    <div class="wedding_date">
      <%= image_tag "wedding_date.svg" %>
    </div>
  </nav>
  <div class="landing">
    <%= image_tag "anna_and_hao_landing.png" %>
  </div>
  <div class="save_the_date">
    <%= image_tag "save_the_date.svg" %>
  </div>
  <div class="banner">
    <div class="component_01">
      <%= image_tag "flora_01.png" %>
    </div>
    <div class="component_02">
      <%= image_tag "flora_02.png" %>
    </div>
  </div>
  <div class="our_story">
    <p>
      Anna and Hao met at Michigan State University. They were both lone wolves destined to be with each other in the very end. This is too cute, I can’t even take it. I’m literally about to vomit because of how cute this is. Keep it in the bedroom, am I right? Anywho, they love each other very much. I’m actually unsure how they met. I hope my brother can type out something to fill this content box. I can’t believe they’re getting married.
    </p>
  </div>
</div><!-- .welcome -->
